---
import Card from "@/components/card.astro";
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createI18n } from "@/lib/i18n";
import { createCollectionResource } from "@/lib/keystatic/resources";

export async function getStaticPaths() {
	return Promise.all(
		locales.map(async (locale) => {
			const projects = await createCollectionResource("projects", locale).all();

			return { params: { locale }, props: { projects } };
		}),
	);
}

const { locale } = Astro.params;

const { projects } = Astro.props;

const { t } = await createI18n(locale);

const documentTitle = t("ProjectsPage.meta.title");
const title = t("ProjectsPage.title");
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageCard>
				<PageTitle>{title}</PageTitle>
				<ul class="my-8 grid gap-12 md:grid-cols-2" role="list">
					{
						projects.map((project) => {
							const { image, shortTitle, summary, title } = project.data;

							return (
								<li>
									<article>
										<Card
											image={image}
											link={{
												label: t("ProjectsPage.read-more"),
												href: `/projects/${project.id}`,
											}}
											summary={summary}
											title={shortTitle || title}
										/>
									</article>
								</li>
							);
						})
					}
				</ul>
			</PageCard>
		</PageSection>
	</MainContent>
</PageLayout>
