---
import LinkButton from "@/components/content/link-button.astro";
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createI18n } from "@/lib/i18n";
import { createCollectionResource } from "@/lib/keystatic/resources";

export async function getStaticPaths() {
	return (
		await Promise.all(
			locales.map(async (locale) => {
				const pages = await createCollectionResource("events", locale).all();

				return pages.map((page) => {
					return { params: { id: page.id, locale }, props: { page } };
				});
			}),
		)
	).flat();
}

const { locale } = Astro.params;

const { page } = Astro.props;

const { t } = await createI18n(locale);

const { content, date, image, title } = page.data;
const documentTitle = title;
const { default: Content } = await page.compile(content);
---

<PageLayout locale={locale} openGraphImage={{ title }} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageCard image={image}>
				<PageTitle>{title}</PageTitle>

				<time datetime={date}>{date}</time>

				<div class="prose">
					<Content />
				</div>

				<div class="mt-8 flex items-center gap-x-4">
					<LinkButton
						label={t("EventPage.more.events")}
						link={{ discriminant: "pages", value: "events" }}
					/>

					<LinkButton
						label={t("EventPage.more.news")}
						link={{ discriminant: "pages", value: "news" }}
					/>
				</div>
			</PageCard>
		</PageSection>
	</MainContent>
</PageLayout>
