---
import { Image } from "astro:assets";

import Link from "@/components/link.astro";
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { getCollectionName } from "@/lib/content/get-collection-name";
import { reader } from "@/lib/content/reader";
import { getImageImport } from "@/lib/get-image-import";
import { createI18n } from "@/lib/i18n";

export async function getStaticPaths() {
	return Promise.all(
		locales.map(async (locale) => {
			const collection = getCollectionName("consortium", locale);
			const pages = await reader().collections[collection].all();

			return { params: { locale }, props: { pages } };
		}),
	);
}

const { locale } = Astro.params;

const { pages } = Astro.props;

const { t } = await createI18n(locale);

const documentTitle = t("ConsortiumPage.meta.title");
const title = t("ConsortiumPage.title");
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageCard>
				<PageTitle>{title}</PageTitle>
				<ul class="my-8 grid gap-12 md:grid-cols-2" role="list">
					{
						pages.map((page) => {
							return (
								<li>
									<article>
										<Link
											class="grid justify-start gap-y-2"
											href={`/consortium/${page.slug as string}`}
										>
											{/* @ts-expect-error Upstream type error. */}
											<Image
												alt=""
												class="h-20 w-auto object-contain"
												sizes="670px"
												src={getImageImport(page.entry.logo)}
												widths={[670]}
											/>
											<h2 class="text-lg font-medium leading-tight">{page.entry.name}</h2>
										</Link>
									</article>
								</li>
							);
						})
					}
				</ul>
			</PageCard>
		</PageSection>
	</MainContent>
</PageLayout>
