---
import Figure from "@/components/content/figure.astro";
import Link from "@/components/link.astro";

interface Props {
	link: {
		discriminant: "consortium" | "custom" | "events" | "news" | "pages";
		value: string;
	};
	src: string;
	alt?: string;
	text: string;
}

const { alt, link, src, text } = Astro.props;

const href =
	link.discriminant === "custom"
		? link.value
		: link.discriminant === "pages"
			? `/${link.value}`
			: `/${link.discriminant}/${link.value}`;
---

<Link href={href}>
	<span class="sr-only">{text}</span>
	<Figure alt={alt} href={src} />
</Link>
