---
import { compareDesc } from "date-fns";

import Card from "@/components/card.astro";
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createI18n } from "@/lib/i18n";
import { createCollectionResource } from "@/lib/keystatic/resources";

export async function getStaticPaths() {
	return Promise.all(
		locales.map(async (locale) => {
			const pages = await createCollectionResource("news", locale).all();

			pages.sort((a, z) => {
				return compareDesc(new Date(a.data.date), new Date(z.data.date));
			});

			return { params: { locale }, props: { pages } };
		}),
	);
}

const { locale } = Astro.params;

const { pages } = Astro.props;

const { t } = await createI18n(locale);

const documentTitle = t("NewsPage.meta.title");
const title = t("NewsPage.title");
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageCard>
				<PageTitle>{title}</PageTitle>
				<ul class="my-8 grid gap-12 md:grid-cols-2" role="list">
					{
						pages.map((page) => {
							const { image, shortTitle, summary, title } = page.data;

							return (
								<li>
									<article>
										<Card
											image={image}
											link={{
												label: t("NewsPage.read-more"),
												href: `/news/${page.id}`,
											}}
											summary={summary}
											title={shortTitle || title}
										/>
									</article>
								</li>
							);
						})
					}
				</ul>
			</PageCard>
		</PageSection>
	</MainContent>
</PageLayout>
